# History files
*.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
# RStudio files
.Rproj.user/
SynthPop\spop*
SynthPop\SPOP*
*.Rproj.user
*.txt
*.xls
*.xlsx
*.ods
*.pdf
*.tiff
*.directory
Graphs for Martin/
Output/
Unused Scripts/
Scenarios (unused)/
*.realsync
