# History files
*.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
# RStudio files
.Rproj.user/

*.Rproj.user
*.Rproj
*.txt
*.xls
*.xlsx
*.ods
*.pdf
*.tiff
*.gif
*.ico
*.out
*.directory
*.Rc
*.realsync
# Directories

Graphs for Martin/
Output/
Unused Scripts/
Scenarios (unused)/
SynthPop\
Lagtimes\
!Lagtimes\produce summary files for regression.R